/*******************************
            Global
*******************************/

html,
body {
	font-size: 15px;
	height: 100%;
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #222222;
	margin: 0%;
	padding: 0px;
	color: #555555;
	text-rendering: optimizeLegibility;
}

h1.cover {
	font-size: 30px;
}

.mastdivide {
	padding-bottom:0.2rem;
	border-bottom: 1px solid #AAAAAA;
}

.mast {
	padding-left: 20%;
	padding-right: 20%;
	min-width: 600px;
	color: #FFFFFF ;
}

.divide {
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #555555;
}

.divide.mast {
	border-bottom: 1px solid #AAAAAA ;
}

.section {
	padding: 1% 0%;
}

.mainbody {
	padding-left: 20%;
	padding-right: 20%;
	min-width: 600px;
	background: #FFFFFF;
}

.headerfooter {
	background: #222222 ;
	color: #FFFFFFF ;
	padding: 1% 0% ;
}

.topimage {
	width: 200px;
	height: 200px;
	margin: 2% 5%;
	float: left
}

.unblock {
	display: inline-block;
	vertical-align: middle;
}

a:link, a:visited, a:active {
	color:#CCCCCC;
}

a:hover {color:#FFFFFF;}


.mainbody a, .mainbody a:link, .mainbody a:visited, .mainbody a:active {
color: #666666
}

.mainbody a:hover {color: #111111}